<div class="container">

	<carousel
		
		[objectFit]="'cover'"
		[cellWidth]="700"
		[height]="500"
		[borderRadius]="10"
		[arrowsOutside]="true"
		[autoplay]="true"
		[dots]="true"
        [loop]="true">
        <div class="carousel-cell">
            <img src="assets/images/pic3.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/pic2.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/pic1.jpg">
        </div>
        
       
        
        
        <div class="carousel-cell">
            <img src="assets/images/pic4.jpg">
        </div>
	</carousel>
</div>
